.success-alert {
    background-color: #c39428;
    color: #fff;
    padding: 15px;
    position: fixed;
    top: 50px;
    right: 5px;
    width: 40%;
    z-index: 10001;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 1;
    /* animation: fadeInOut 3s ease-in-out; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .alert-icon {
    font-size: 24px;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  






  /* Not found page css */
  #notfound{
    display: flex;
    padding-top:8%;
    padding-bottom: 8%;
    margin:0px auto;
    justify-content: center;
    align-items: center;
    height: 55vw;
    width: 100%;
    /* z-index: 1; */
  }

  .back_to_home_page:hover{
    background-color: #c39428;
    border: 1px solid #c39428;
    box-shadow: 0px 1px 7px 0px #222;
 }

 @media(max-width:1024px){
  #notfound{
    padding-top: 15%;
  }
 }
 @media(max-width:990px){
  #notfound{
    padding-bottom: 10%;
  }
 }
 @media(max-width:767px){
  #notfound{
    height: 60vw;
  }
 }
 @media(max-width:575px){
  #notfound{
    padding-top: 20%;
    height: 100vw;
  }
 }