
 .mySwiper-1{
  width: 240px;
  height: 320px;
  margin: 0px;
 }

 .cards-main{
  margin-top: 90px;
  margin-bottom: 5%;
 }

 .variable-cards-main{
  margin-top: 50px;
  overflow: hidden;
 }

.variable-cards-title{
  font-size: 30px;
  margin-bottom: 40px;
  color: #333;
  border-bottom: 2px solid #c39428;
  width: fit-content;
  padding-bottom: 15px;
  margin-left: 30px;
}

.cards-1-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* gap: 40px; */
  margin-left: -40px;
}
.card-product-name {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 16px;
  border-radius: 0 0 18px 18px;
  background: linear-gradient(
    130deg,
    #c3942f 0%,
    #d89c27 18%,
    #dfc86f 37%,
    #e7dc96 50%,
    #dfc86f 64%,
    #d89c27 82%,
    #c99c30 100%
  );
  backdrop-filter: brightness(0.5);
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent */
  background-clip: text; /* Standard syntax */
}
.slide {
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.slide-1 {
  background-color: rgb(206, 17, 17);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-1 {
  background-color: rgb(0, 140, 255);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-2 {
  background-color: rgb(10, 184, 111);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-3 {
  background-color: rgb(211, 122, 7);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-4 {
  background-color: rgb(118, 163, 12);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-5 {
  background-color: rgb(180, 10, 47);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-6{
  background-color: rgb(35, 99, 19);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-7{
  background-color: rgb(0, 68, 255);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-8{
  background-color: rgb(218, 12, 218);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide-9 {
  background-color: rgb(54, 94, 77);
   border-radius: 18px;
   display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

/* cards responsive css */
@media(max-width:1045px){
  .cards-1-main{
    margin-left: 40px;
    gap: 30px;
  }
  .cards-1-main .cards-1{
    width: 30%;
    margin-bottom: 30px;
  }
}
@media(max-width:990px){
  .cards-1-main{
    margin-left: 30px;
  }
  .cards-1-main .cards-1{
    width: 34%;
    margin-bottom: 50px;
  }
}
@media(max-width:768px){
  .cards-1-main{
    margin-left: 20px;
    gap: 50px;
  }
  .cards-1-main .cards-1{
    width: 40%;
  }
}
@media(max-width:650px){
  .cards-1-main{
    gap: 40px;
  }
  .cards-1-main .cards-1{
    width: 50%;
    margin-bottom: 10px;
  }
}
@media(max-width:576px){
  .cards-1-main{
    margin-left: -35px;
  }
}