.OtherBanner-wrapper img{
    width: 100%;
    height: 400px;
}
.OtherBanner-section .row{
    padding-left: calc((2rem) * .5);
    padding-right: calc((2rem) * .5);
}

.lightbox-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
  }
  
  .btn-next {
    right: 20px;
  }
  
  .btn-prev {
    left: 20px;
  }
  
/* .OtherBanner-wrapper{
    gap: 10px;
} */
 .OtherBanner-section .container-fluid{
    margin-bottom: 3rem;
 }

 @media(max-width:992px){
    .OtherBanner-section .container-fluid{
        margin-bottom: 3.3rem;
    }
 }
 @media(max-width:768px){
    .OtherBanner-section .container-fluid{
        margin-bottom: 3.1rem;
    }
 }
 @media(max-width:576px){
    .OtherBanner-wrapper .col-12{
        margin-bottom: 0.9rem !important;
    }
    .OtherBanner-wrapper img{
        height: 400px;
    }
    .OtherBanner-section .container-fluid{
        margin-bottom: 3.7rem;
    }
 }