.product-container {
  padding-top: 130px;
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: sans-serif;
  margin: 20px auto;
}

/* product page design */
.shop-content {
  display: flex;
  width: 100%;
  gap: 20px;
}
.shop-container {
  padding-top: 140px;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
  font-family:  sans-serif;
}

.shop-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.shop-header {
  margin-bottom: 20px;
  margin-top: 40px;
}
.shop-sidebar-menu {
  flex: 1;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0px;
  position: sticky;
  top: 80px;
  height: 100%;
  width: 100%;
}

.shop-sidebar {
  width: 100%;
  padding: 20px;
  margin-bottom: 0px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.shop-sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.shop-sidebar ul {
  list-style: none;
  padding: 0;
}

.shop-sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid #e0e0e0;
  transition: color 0.3s ease;
}

.shop-sidebar ul li.active,
.shop-sidebar ul li:hover {
  color: #c89c31;
}

.shop-sidebar hr {
  margin: 10px 0;
}
.product-card {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #222;
  background: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 12px;
  overflow: unset;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.discount-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff6347; 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  opacity: 1;
  z-index: 2;
}
.product-card-link {
  text-decoration: none;
  color: #222;
  display: block;
  position: relative;
  transition: all 0.3s;
  text-align: center;
}
.product-image {
  opacity: 1;
  padding: 0px;
  width: 100%;
  height: auto;
  filter: blur(10px);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.product-image.loaded {
  filter: blur(0);
}
.product-card .product-actions {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  right: 0%;
  width: 70%;
}

.product-button-main {
  text-decoration: none;
  list-style-type: none;
}

.product-card .product-actions > button,
.product-card .product-actions .btnProductQuickview {
  transition: transform 0.35s linear;
  transform: scale(0);
  opacity: 0;
}

.product-card .item-product__wishlist svg,
.product-card .btnProductQuickview svg,
.product-card .btn-quick-add svg {
  width: 17px;
}

.product-card .item-product__wishlist {
  font-size: 18px;
  line-height: 1;
}

.product-card .item-product__wishlist,
.product-card .btnProductQuickview,
.product-card .btn-quick-add {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  background-color: #ffffff;
  border: 1px solid #adb3b4;
}

.product-card .product-actions .disable-button {
  opacity: 0.6 !important;
}
.product-card:hover .product-actions > button,
.product-card:hover .product-actions .btn-quick-add,
.product-card:hover .product-actions .btnProductQuickview {
  transform: scale(1);
  opacity: 1;
}

.product-actions button:hover .item-product__wishlist svg,
.product-actions button:hover .btnProductQuickview svg,
.product-actions button:hover .btn-quick-add svg {
  width: 17px;
}

.product-card:hover .product-actions {
  visibility: visible;
}

.product-card .item-product__wishlist:hover,
.product-card .btnProductQuickview:hover,
.product-card .btn-quick-add:hover,
.product-card .btn-quick-add:hover .product-actions button svg {
  color: #bf8e22 !important;
  background-color: #222;
  border-color: #222;
}
.product-card .disable-button:hover,
.product-card .disable-button:hover .product-actions .disable-button svg {
  background-color: transparent;
  border-color: #adb3b4;
  color: #222 !important;
}

.product-actions {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.product-card:hover .product-image {
  transform: none;
}
.product-actions span {
  transition: transform 0.35s linear;
  transform: scale(0);
  opacity: 0;
}
.product-button {
  width: 100%;
  justify-content: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 20px 0;
  width: -moz-fit-content;
  border: 0;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  transition: ease-out 0.4s;
}
.product-button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}
.add-to-cart-button {
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  color: #222;
}

.watchlist-icon {
  font-size: 1.5rem;
  padding: 0px;
  cursor: pointer;
  color: #222;
  border: none;
  border-radius: 50%;
}

.watchlist-icon.inactive-heart {
  color: #c39428;
}

.product-card:hover .product-actions span {
  opacity: 1;
  display: flex;
  transform: scale(1);
}
.product-card:hover .product-image {
  opacity: 0.4;
}
.add-to-cart-button:hover {
  background-color: transparent;
  box-shadow: none;
}
.product-actions button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.product-actions button svg:hover {
  color: #bf8e22;
}
.product-actions .disable-button svg:hover{
  color:#222;
}
.sc-egkSDF {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  height: 100vh;
}

/* pagination css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
}

.pagination-list {
  display: flex;
  align-items: center;
}

.paginate_button {
  margin: 0 5px;
}

.page-item.active {
  background-color: #c89c31;
  color: white;
}

.page-link {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.ellipsis {
  margin: 0 5px;
  padding: 10px 15px;
}

@media (max-width: 768px) {
  .shop-sidebar-menu {
    position: relative;
    top: 0px;
    max-width: 100%;
  }
  /* .product-card-link:hover .product-image {
    opacity: 1;
  }
  .product-actions {
    opacity: 1;
    top: 57%;
    background-color: #fff;
  } */
}

/* review dropdown box */
#top_nav .dropdown {
  cursor: pointer;
}
#top_nav .dropdown-menu {
  margin-top: 1px;
  border-top: 0;
  border-top-right-radius: 0;
  background-color: #f9f9f9;
  z-index: 9999;
  right: -1px;
}
#top_nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  /* display: block; */
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 0px;
  border-radius: 0.25rem;
  /* box-shadow: 0px 0px 5px #949494; */
}
.dropdown-menu-right {
  right: 0;
  left: auto !important;
  box-shadow: 0px;
  background-color: #000;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu-right::before {
  content: "\f0d8";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  z-index: 1;
  top: -8%;
  left: 75%;
  color: #f2f2f2;
}

#top_nav .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

#top_nav .dropdown:hover > .dropdown-menu {
  display: block;
}

#top_nav .dropdown-item {
  display: flex;
  font-size: 12px;
  align-items: center;
  font-weight: 700;
}

#top_nav .dropdown-item:active,
#top_nav .dropdown-item:hover {
  background-color: #fff;
}

.dropdown-item svg {
  margin: 0px 5px;
  color: #bf8e22;
}




/* new product design */
.product-content{
  display: flex;
  width: 100%;
  gap: 20px;
}
/* .products-main-content */
.products-main-content .col-12{
  padding-bottom: calc((3.2rem)* .5) !important;
  /* padding-top: calc((1.5rem)* .5) !important; */
  margin-left: 0px !important;
}

.products-main-content .product-cards {
  background: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 12px;
  overflow: unset;
  position: relative;
  text-decoration: none;
  color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.products-main-content .product-cards-link{
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #222;
  transition: all 0.3s;
}

.products-main-content .product-link{
   text-decoration: none;
}
.product-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
}
.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #c39428;
  margin-bottom: 10px;
}
/* .products-main-content .product-title{
  font-size: 18px;
} */

@media(max-width:768px){
  .product-content{
    flex-direction: column;
  }
}