@media only screen and (max-width: 600px) {
    body{
        box-sizing: border-box;
    }
    /* nav bar */
    .menu-sub{
        flex-direction: column;
    }
    .menu-sub{
        width: 100%;
        margin-top: -70px;
    }
    .logo-main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
    }
    .logo-sub{
        width: 200px;
    }
    .menu-div{
        flex-direction: column;
    }
    svg.toggle-icon {
        font-size: 24px;
    }
    .main-nav-price-icon p{
        display: none;
    }
    .menu-div ul{
        flex-direction: column;
        text-align: center;
    }
    .menu-div ul li{
        margin: 10px 5px;
    }
    .main-nav-sub{
        display: none;
    }
    .main-nav-icon {
        margin-right: 51px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .toggel-main{
        visibility: visible;
    }

    /* other banner */
    .other-banner {
        flex-direction: column;
    }
    .other-banner-btn {
        width: max-content;
        margin: 0 auto;
    }
    .home-cat-sub {
        flex-direction: column;
    }


    /* footer  */
    .footer-bottom{
        flex-direction: column;
    }
    .footer-container{
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
    }
    .footer-section p {
        text-align: center;
    }
    .social-media{
        justify-content: center;
    }
    .footer-section span{
        text-align: left;
    }
}