@media only screen and (max-width: 768px){
    body{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    /* Navbar */
    .menu-sub{
        flex-direction: column;
        width: 100%;
        margin-top: -70px;
    }
    .logo-main{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }
    .menu-div{
        flex-direction: column;
    }
    .menu-div ul{
        flex-direction: column;
        text-align: center;
    }
    .menu-div ul li{
        margin: 10px 5px;
    }
    .main-nav-sub{
        display: none;
    }
    .main-nav-price-icon p{
        display: none;
    }
    .toggle-main{
        visibility: visible;
        cursor: pointer;
    }
    .toggle-icon{
        font-size: 30px;
        margin-right: auto;
    }
    .menu-num-main {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }
    .main-nav-icon-sub{
        display: flex;
        gap: 5px;
        padding-right: 10px;
    }  
    .main-nav-icon-user,
    .main-nav-icon-sub Link {
        font-size: 1.2rem;
    }
    /* Footer */
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
    
      .footer-section {
        margin-top: 20px;
      }
    
      .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    
      .footer-bottom p {
        margin: 5px 0;
      }
    
}

@media only screen and (max-width: 600px) {
    body{
        box-sizing: border-box;
    }
    /* nav bar */
    .menu-sub{
        flex-direction: column;
        width: 100%;
        margin-top: -70px;
    }
    .logo-main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        /* flex-direction: column; */
    }
    .logo-sub{
        width: 200px;
    }
    .menu-div{
        flex-direction: column;
    }
    svg.toggle-icon {
        font-size: 24px;
    }
    .main-nav-price-icon p{
        display: none;
    }
    .menu-div ul{
        flex-direction: column;
        text-align: center;
    }
    .menu-div ul li{
        margin: 10px 5px;
    }
    .main-nav-sub{
        display: none;
    }
    .main-nav-icon {
        margin-right: 51px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .toggel-main{
        visibility: visible;
    }

    /* other banner */
    .other-banner {
        flex-direction: column;
    }
    .other-banner-btn {
        width: max-content;
        margin: 0 auto;
    }
    .home-cat-sub {
        flex-direction: column;
    }
    /* Footer */
    .footer-container {
        grid-template-columns: 1fr 1fr;
        text-align: center;
      }
    
      .footer-section {
        margin-top: 20px;
      }
    
      .social-media {
        justify-content: center;
      }
    
      .footer-bottom {
        flex-direction: column;
        align-items: center;
      }
    
      .footer-bottom p {
        margin: 5px 0;
      }  
}

@media only screen and (max-width: 480px) {
    .footer-container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .footer-section {
      margin-top: 20px;
    }
  
    .social-media {
      justify-content: center;
    }
  
    .footer-bottom {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-bottom p {
      margin: 5px 0;
    }
  }

