* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Top Navbar */
.nav-main {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.top-nav-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.top-nav-p1 {
  display: flex;
  list-style-type: none;
}

.top-nav-p1 li {
  margin: 0 10px;
}

.top-nav-p1 li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: Source Sans pro, sans-serif;
  color: #646464;
}

.top-nav-p1 li a:hover {
  color: rgb(6, 74, 203);
  transition: all 0.3s ease-in-out 0s;
}

.top-nav-p2 {
  display: flex;
  align-items: center;
}

.top-p2-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-p2-txt {
  margin-right: 10px;
}
.top-p2-txt p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: rgb(100, 100, 100);
  font-family: Source Sans pro, sans-serif;
}

.top-nav-p2 hr {
  width: 10px;
  height: 1px;
  margin: 0 10px;
  border: 0;
  background-color: rgb(100, 100, 100);
}

.top-p2-icon a {
  text-decoration: none;
  font-size: 17px;
  line-height: 14px;
  font-weight: 400;
  font-family: Source Sans pro, sans-serif;
  color: #646464;
}

.top-p2-icon a:hover {
  color: #c39428;
  transition: all 0.3s ease-in-out 0s;
}

/* Main Navbar */

.main-nav-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.logo-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px;
    width: 100%; */
  position: relative;
}

.logo-sub {
  width: 200px;
  height: auto;
  margin-right: 100px;
}

.logo-sub img {
  width: 100%;
  height: 100%;
}

.search-main {
  width: 50%;
}

.toggle-main {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.toggle-icon {
  font-size: 24px;
}

.search-sub {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-sub input {
  padding: 15px 30px;
  width: 100%;
  border-radius: 30px;
  border: 0;
  background-color: rgba(191, 182, 182, 0.349);
}

.search-sub span {
  position: relative;
  right: 7%;
  color: rgba(243, 169, 82, 1);
}

.main-nav-icon {
  display: flex;
  gap: 10px;
}

.main-nav-icon-sub a {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
  color: #eff1f3;
}

.main-nav-icon-sub a:hover {
  color: #c39428;
  transition: all 0.3s linear;
}

.main-nav-icon-user {
  margin: 0 10px !important;
}

.main-nav-icon-sub a span {
  position: relative;
  bottom: 50%;
  right: 4%;
  background-color: #bf8e22;
  color: white;
  font-weight: 500;
  font-size: 10px;
  padding: 3px 7px;
  border-radius: 50px;
}

.main-nav-price-icon p {
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  color: #fff;
  padding-right: 10px;
}

/* Menubar */
.menu-sub {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1000;
  width: 100%;
  transition: top 0.3s;
}
.menu-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-div {
  display: flex;
}

.menu-div ul {
  display: flex;
}

.menu-div ul li {
  list-style-type: none;
  margin: 20px 10px;
}

.menu-div ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.menu-link:hover {
  color: #c39428;
  transition: all 0.3s ease-in-out;
}

.menu-num-sub {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.menu-num-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-num-icon {
  background-color: #bf8e22;
  padding: 7px 7px;
  border-radius: 30px;
}

.menu-num-icon span {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-num-txt p {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #000;
  font-family: Source Sans pro, sans-serif;
  margin: 5px 0 0 0;
}

.menu-num-txt a {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #000;
  font-family: Source Sans pro, sans-serif;
  margin: 5px 0;
}

.main-nav-icon {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.main-nav-icon2 {
  display: flex;
  align-items: center;
}
.main-nav-icon-sub {
  display: flex;
  gap: 5px;
}
.main-nav-icon-sub .main-nav-icon-user,
.main-nav-icon-sub Link {
  font-size: 1.2rem;
}
.main-nav-icon-sub a span {
  margin-left: 0px;
  font-size: 1rem;
  color: #000;
}

/* Banner Section */

.banner-main {
  margin-top: 140px;
}

.banner-sub {
  display: flex;
  gap: 30px;
  margin: 20px 15px;
}

.banner-p1 {
  background-image: url(../images/banner1-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 10px;
}

.banner-p1-txt {
  margin-left: 20px;
  text-align: left;
  position: absolute;
  left: 0;
}

.banner-p1-txt-head {
  margin-left: 20px;
}

.banner-p1-txt-head p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  background-color: #bf8e22;
  width: fit-content;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 10px 0;
}

.banner-p1-txt-head h1 {
  font-size: 30px;
  line-height: 59px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: Source Sans Pro, sans-serif;
  margin-bottom: 20px;
}

.banner-p1-txt-content {
  margin-left: 20px;
}

.banner-p1-txt-content ul {
  list-style-type: none;
}

.banner-p1-txt-content ul li p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(100, 100, 100);
  font-family: Roboto, sans-serif;
  margin: 5px 0;
}

.banner-p1-txt-btn {
  margin-left: 20px;
}

.banner-btn {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  margin: 20px 0;
  border: 0;
  background-color: #222;
  padding: 10px 10px 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.banner-btn:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}

.banner-p1-txt-btn button span {
  color: white;
  font-size: 25px;
}

.banner-p2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-p2-fbox-sub {
  background-image: url(../images/banner2-1-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  border-radius: 10px;
}

.banner-p2-fbox-img img {
  transition: transform 0.3s ease;
}

.banner-p2-fbox:hover img {
  transform: translateY(-10%);
}

.banner-p2-fbox-content {
  text-align: left;
}

.banner-p2-fbox-content-txt h1 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: Source Sans Pro, sans-serif;
}

.banner-p2-fbox-content-txt p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(100, 100, 100);
  font-family: Roboto, sans-serif;
}

.banner-p2-fbox-content-btn button span {
  color: #fff;
  font-size: 25px;
}

.banner-p2-sbox-sub {
  background-image: url(../images/banner-2-2-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  border-radius: 10px;
}

.banner-p2-sbox-img img {
  transition: transform 0.3s ease;
}

.banner-p2-sbox:hover img {
  transform: translateY(-10%);
}

.banner-p2-sbox-content {
  text-align: left;
}

.banner-p2-sbox-content-txt h1 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: Source Sans Pro, sans-serif;
}

.banner-p2-sbox-content-txt p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(100, 100, 100);
  font-family: Roboto, sans-serif;
}

.banner-p2-sbox-content-btn button span {
  color: #fff;
  font-size: 25px;
}

/* Home Category */

.home-cat-sub {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  margin: 50px 20px;
}

.home-cat-content-box a {
  text-decoration: none;
}

.home-cat-content-box a:hover .home-cat-img-div img {
  transform: scale(1.2);
}

.home-cat-content-box a:hover .home-cat-txt h1 {
  color: #064acb;
}

.home-cat-img-div {
  width: 134px;
  height: 127px;
  background-color: #ecf3f7;
  padding: 20px;
  border-radius: 100px;
}

.home-cat-img-div img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.home-cat-txt {
  margin: 20px 0;
}

.home-cat-txt h1 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: black;
  font-family: Source Sans Pro, sans-serif;
  transition: all 0.2s;
}

/* other banner */

.other-banner-main {
  background-image: url(../images/huge-topsem-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 42px 60px;
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.other-banner {
  display: flex;
  justify-content: space-between;
}

.banner-txt {
  text-align: left;
}

.b-txt-1 {
  font-size: 24px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.b-txt-2 {
  font-size: 28px;
  color: #000;
  line-height: 1.2;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0;
}

.txt-2-name {
  font-style: italic;
}

.txt-2-underline {
  font-style: italic;
  text-decoration: underline;
}

.txt-2-discount {
  font-size: 48px;
  vertical-align: middle;
  font-weight: bold;
}

.txt-2-dicount-type {
  font-size: 22px;
  font-weight: 400;
  position: relative;
  bottom: -4px;
}

.other-banner-btn {
  font-size: 12px;
  background-color: #222;
  padding: 10px 30px;
  color: #eff1f3;
  font-weight: bold;
  letter-spacing: 2px;
  height: 45px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.other-banner-btn:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}

.about {
  margin-top: 100px;
  margin-bottom: 40px;
}
/* Login page.. */
.login-container {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  font-family: Source Sans pro, sans-serif;
}

.login-title {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
  position: relative;
}

.form-label {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  padding-right: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  box-sizing: border-box;
}
.form-input::placeholder {
  opacity: 0.3;
}
.password-input-container {
  position: relative;
  width: 100%;
}
.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #000;
}
.forgot-password {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #bf8e22;
  text-decoration: none;
  cursor: pointer;
  text-align: right;
}
.forgot-password:hover {
  text-decoration: underline;
}
.login-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  width: auto;
  border-radius: 50px;
  align-self: center;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.login-button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}
.login-text {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
  text-align: center;
}
.login-text a {
  color: #bf8e22;
  text-decoration: none;
}
.login-text a:hover {
  text-decoration: underline;
}
/* sign-up page */
.signup-container {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.signup-title {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
  position: relative;
}

.form-label {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  right: 13px;
  top: 76%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #000;
}

.signup-button {
  background-color: #000;
  color: #fff;
  padding: 10px 40px;
  font-size: 16px;
  width: auto;
  border-radius: 50px;
  align-self: center;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border: none;
}

.signup-button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}
/* Contact page */
.container {
  padding: 20px 20px 0px 20px;
  margin-top: 150px;
  text-align: left;
}
.breadcrumb {
  margin-bottom: 20px;
  text-align: start;
}
.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}
.breadcrumb span {
  color: #6c757d;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;
}

.map {
  flex: 1;
  margin-right: 20px;
  width: 50%;
}
.details {
  flex: 1;
  max-width: 400px;
  color: #000;
  margin-right: 20px;
  /* padding: 30px; */
  background-image: url("../images/element_26.png");
  background-size: cover;
  background-position: right;
  border-radius: 10px;
}
.details-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}
.details p {
  margin: 0 0 0 0;
  font-family: Roboto, "sans-serif";
}
.detail-row {
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 6px 54px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  padding: 30px 30px;
  margin-top: 20px;
}
.detail-row-1-txt {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
.detail-row-1-txt-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 10px;
}
.detail-row-2 {
  margin-left: 10px;
}
.detail-row-2-txt {
  margin-bottom: 0px;
}
.detail-row-2-txt a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}
.contact-content {
  flex: 1;
  max-width: 50%;
}
.contact-content h2 {
  font-family: Source Sans pro, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}
.contact-content p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 30px;
}
.contact-content form {
  display: flex;
  flex-direction: column;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 10px;
  gap: 20px;
}
.input-row input {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #c89c31;
  border-radius: 4px;
}
.input-row input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 100%;
}

.contact-form button {
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin: 0 auto;
  width: 150px;
}
.contact-form button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}

.form-image {
  flex: 1 1;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-width: 40%;
}
.form-image img {
  max-width: 100%;
  height: 400px;
}

/* Help center */

.help-center {
  font-family: Roboto, sans-serif;
  padding-top: 150px;
  margin: 50px auto;
  color: rgb(100, 100, 100);
  text-align: left;
}

.help-center h1 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.help-center nav {
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
}

.help-center nav a {
  text-decoration: none;
  color: #000;
}

.help-center nav span {
  color: #888;
}

.faq-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 30px auto;
  width: fit-content;
}

.faq-item {
  border-bottom: 1px solid #ddd;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  background: #f9f9f9;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.faq-question span {
  margin-right: 10px;
  font-size: 18px;
}

.faq-answer {
  padding: 15px;
  background: #fff;
}
/* RefundPolicy*/
.refund-policy {
  font-family: Roboto, sans-serif;
  padding-top: 150px;
  margin: 20px;
  color: rgb(100, 100, 100);
  text-align: left;
}

.header h1 {
  text-align: left;
  margin-bottom: 10px;
}

.header nav {
  margin: 20px 0px;
  text-align: left;
}

.header nav a {
  text-decoration: none;
  color: #000;
}

.header nav span {
  color: #888;
}
.content{
  padding-top: 4%;
}
.content h2 {
  font-family: Source Sans Pro, sans-serif;
  font-size: 26px;
  color: #000;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.content h3 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 30px;
}

 .content p {
  margin: 25px;
}
.content ul{
  margin: 15px;
}

.content ul {
  list-style: disc;
  margin-left: 50px;
}
/* privacy policy */

.privacy-policy {
  font-family: Lato, sans-serif;
  padding-top: 150px;
  margin: 20px;
  color: rgb(100, 100, 100);
  text-align: left;
}
.header {
  background-image: url('../images/element_22.png');
  background-size: cover;
  opacity: 0.5;
  background-position: right;
  padding: 50px 20px;
  color: #000;
  background-color: aliceblue;
  border-radius: 10px;
}
.policy-info{
  margin-top: 5%;
}
.policy-info h2{
  font-size: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.policy-info h3{
  font-size: 18px;
  margin-left: 30px;
  margin-top: 20px;
}
.policy-info ul{
  margin-left: 30px;
  margin-top: 10px;
}
.policy-info li{
  margin-left: 40px;
  margin-top: 10px;
}

/* terms and conditions */
.terms-container {
  padding-top: 150px;
  margin: 20px;
  font-family: Source Sans Pro, sans-serif;
  color: rgb(100, 100, 100);
  text-align: left;
}
.term-info {
  margin-top: 5%;
}
.term-info h2{
  font-family: Source Sans Pro, sans-serif;
  font-size: 32px;
  margin-left: 30px;
  margin-top: 20px;
}
.term-info h3{
  margin-top: 50px;
  margin-left: 20px;
}
.term-info p{
  font-family: Lato, sans-serif;
  margin-left: 30px;
  margin-top: 20px;
}
.term-info h4{
  margin-top: 40px;
  margin-left: 20px;
}
.term-info ul li{
  margin-left: 40px;
  margin-top: 10px;
}

/* ProductPage.css */

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.product {
  display: flex;
  width: 300px;
  margin: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  flex: 1;
  padding: 0 15px;
}

.product-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-details {
  flex: 2;
  padding: 0 15px;
}

.product-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}
