* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Top Navbar */
.nav-main {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.search-main{
  position: relative;
  width: 50%;
}

.search-sub{
  display: flex;
  align-items: center;
  position: relative;
}

.search-sub button[type="submit"]{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border: 0;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-sub .clear-icon{
  position: absolute;
  top: 0;
  right: 40px;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

search-sub button[type="submit"] svg:hover,
.search-sub .clear-icon svg:hover {
  color: #c39428; 
}
.suggestions{
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  color: #000;
  z-index: 1002;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.suggestions li{
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.top-nav-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.top-nav-p1 {
  display: flex;
  list-style-type: none;
}

.top-nav-p1 li {
  margin: 0 10px;
}

/* Add this to your CSS file or in a <style> tag */
[type='range']::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50; /* Change this to your desired color */
  cursor: pointer;
}


.top-nav-p1 li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: Source Sans pro, sans-serif;
  color: #646464;
}

.top-nav-p1 li a:hover {
  color: #c89c31;
  transition: all 0.3s ease-in-out 0s;
}

.top-nav-p2 {
  display: flex;
  align-items: center;
}

.top-p2-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-p2-txt {
  margin-right: 10px;
}
.top-p2-txt p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: rgb(100, 100, 100);
  font-family: Source Sans pro, sans-serif;
}

.top-nav-p2 hr {
  width: 10px;
  height: 1px;
  margin: 0 10px;
  border: 0;
  background-color: rgb(100, 100, 100);
}

.top-p2-icon a {
  text-decoration: none;
  font-size: 17px;
  line-height: 14px;
  font-weight: 400;
  font-family: Source Sans pro, sans-serif;
  color: #646464;
}

.top-p2-icon a:hover {
  color: #c39428;
  transition: all 0.3s ease-in-out 0s;
}

/* Main Navbar */

.main-nav-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.logo-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px;
    width: 100%; */
  position: relative;
}

.logo-sub {
  width: 200px;
  height: auto;
  margin-right: 100px;
}

.logo-sub img {
  width: 100%;
  height: 100%;
}


.toggle-main {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.toggle-icon {
  font-size: 24px;
}

.search-sub {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-sub input {
  padding: 15px 30px;
  width: 100%;
  border-radius: 30px;
  border: 0;
  background-color: rgba(191, 182, 182, 0.349);
}

.search-sub span {
  position: relative;
  right: 7%;
  color: rgba(243, 169, 82, 1);
}

.main-nav-icon {
  display: flex;
  gap: 10px;
}

.main-nav-icon-sub a {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
  color: #eff1f3;
}

.main-nav-icon-sub a:hover {
  color: #c39428;
  transition: all 0.3s linear;
}

.main-nav-icon-user {
  margin: 0 10px !important;
}

.main-nav-icon-sub a span {
  position: relative;
  bottom: 50%;
  right: 4%;
  background-color: #bf8e22;
  color: white;
  font-weight: 500;
  font-size: 10px;
  padding: 3px 7px;
  border-radius: 50px;
}

.main-nav-price-icon p {
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  color: #fff;
  padding-right: 10px;
}

/* Menubar */
.menu-sub {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: top 0.3s;
}

.menu-sub i{
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
}

.menu-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-div {
  display: flex;
}

.menu-div ul {
  display: flex;
}

.menu-div ul li {
  list-style-type: none;
  margin: 20px 10px;
}

.menu-div ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.menu-link:hover {
  color: #c39428;
  transition: all 0.3s ease-in-out;
}

.menu-num-sub {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.menu-num-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-num-icon {
  background-color: #bf8e22;
  padding: 7px 7px;
  border-radius: 30px;
}

.menu-num-icon span {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-num-txt p {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #000;
  font-family: Source Sans pro, sans-serif;
  margin: 5px 0 0 0;
}

.menu-num-txt a {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #000;
  font-family: Source Sans pro, sans-serif;
  margin: 5px 0;
}

.main-nav-icon {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.main-nav-icon2 {
  display: flex;
  align-items: center;
}
.main-nav-icon-sub {
  display: flex;
  gap: 5px;
}
.main-nav-icon-sub .main-nav-icon-user,
.main-nav-icon-sub Link {
  font-size: 1.2rem;
}
.main-nav-icon-sub a span {
  margin-left: 0px;
  font-size: 1rem;
  color: #000;
}

/* Banner Section */

.banner-main {
  margin-top: 140px;
}

.banner-sub {
  display: flex;
  gap: 30px;
  margin: 20px 15px;
}

.banner-p1 {
  background-image: url(../images/banner1-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 10px;
}

.banner-p1-txt {
  margin-left: 20px;
  text-align: left;
  position: absolute;
  left: 0;
}

.banner-p1-txt-head {
  margin-left: 20px;
}

.banner-p1-txt-head p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  background-color: #bf8e22;
  width: fit-content;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 10px 0;
}

.banner-p1-txt-head h1 {
  font-size: 30px;
  line-height: 59px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: Source Sans Pro, sans-serif;
  margin-bottom: 20px;
}

.banner-p1-txt-content {
  margin-left: 20px;
}

.banner-p1-txt-content ul {
  list-style-type: none;
}

.banner-p1-txt-content ul li p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(100, 100, 100);
  font-family: Roboto, sans-serif;
  margin: 5px 0;
}

.banner-p1-txt-btn {
  margin-left: 20px;
}

.banner-btn {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  margin: 20px 0;
  border: 0;
  background-color: #222;
  padding: 10px 10px 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.banner-btn:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}

.banner-p1-txt-btn button span {
  color: white;
  font-size: 25px;
}

.banner-p2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-p2-fbox-sub {
  background-image: url(../images/banner2-1-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  border-radius: 10px;
}

.banner-p2-fbox-img img {
  transition: transform 0.3s ease;
}

.banner-p2-fbox:hover img {
  transform: translateY(-10%);
}

.banner-p2-fbox-content {
  text-align: left;
}

.banner-p2-fbox-content-txt h1 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: Source Sans Pro, sans-serif;
}

.banner-p2-fbox-content-txt p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(100, 100, 100);
  font-family: Roboto, sans-serif;
}

.banner-p2-fbox-content-btn button span {
  color: #fff;
  font-size: 25px;
}

.banner-p2-sbox-sub {
  background-image: url(../images/banner-2-2-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  border-radius: 10px;
}

.banner-p2-sbox-img img {
  transition: transform 0.3s ease;
}

.banner-p2-sbox:hover img {
  transform: translateY(-10%);
}

.banner-p2-sbox-content {
  text-align: left;
}

.banner-p2-sbox-content-txt h1 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: Source Sans Pro, sans-serif;
}

.banner-p2-sbox-content-txt p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(100, 100, 100);
  font-family: Roboto, sans-serif;
}

.banner-p2-sbox-content-btn button span {
  color: #fff;
  font-size: 25px;
}

/* Home Category */

.home-cat-sub {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  margin: 50px 20px;
}

.home-cat-content-box a {
  text-decoration: none;
}

.home-cat-content-box a:hover .home-cat-img-div img {
  transform: scale(1.2);
}

.home-cat-content-box a:hover .home-cat-txt h1 {
  color: #064acb;
}

.home-cat-img-div {
  width: 134px;
  height: 127px;
  background-color: #ecf3f7;
  padding: 20px;
  border-radius: 100px;
}

.home-cat-img-div img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.home-cat-txt {
  margin: 20px 0;
}

.home-cat-txt h1 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: black;
  font-family: Source Sans Pro, sans-serif;
  transition: all 0.2s;
}

/* other banner */

.other-banner-main {
  background-image: url(../images/huge-topsem-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 42px 60px;
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.other-banner {
  display: flex;
  justify-content: space-between;
}

.banner-txt {
  text-align: left;
}

.b-txt-1 {
  font-size: 24px;  
  color: #000;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.b-txt-2 {
  font-size: 28px;
  color: #000;
  line-height: 1.2;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0;
}

.txt-2-name {
  font-style: italic;
}

.txt-2-underline {
  font-style: italic;
  text-decoration: underline;
}

.txt-2-discount {
  font-size: 48px;
  vertical-align: middle;
  font-weight: bold;
}

.txt-2-dicount-type {
  font-size: 22px;
  font-weight: 400;
  position: relative;
  bottom: -4px;
}

.other-banner-btn {
  font-size: 12px;
  background-color: #222;
  padding: 10px 30px;
  color: #eff1f3;
  font-weight: bold;
  letter-spacing: 2px;
  height: 45px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.other-banner-btn:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}

.about {
  margin-top: 100px;
  margin-bottom: 40px;
}
/* Login page.. */
.login-container {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  font-family: Source Sans pro, sans-serif;
}

.login-title {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
  position: relative;
}

.form-label {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  padding-right: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  box-sizing: border-box;
}
.form-input::placeholder {
  opacity: 0.3;
}
.password-input-container {
  position: relative;
  width: 100%;
}
.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #000;
}
.forgot-password {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #bf8e22;
  text-decoration: none;
  cursor: pointer;
  text-align: right;
}
.forgot-password:hover {
  text-decoration: underline;
}
.login-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  width: auto;
  border-radius: 50px;
  align-self: center;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.login-button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}
.login-text {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
  text-align: center;
}
.login-text a {
  color: #bf8e22;
  text-decoration: none;
}
.login-text a:hover {
  text-decoration: underline;
}
/* sign-up page */
.signup-container {
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.signup-title {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
  position: relative;
}

.form-label {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  right: 13px;
  top: 76%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #000;
}

.signup-button {
  background-color: #000;
  color: #fff;
  padding: 10px 40px;
  font-size: 16px;
  width: auto;
  border-radius: 50px;
  align-self: center;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border: none;
}

.signup-button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}
/* Contact page */
.container {
  padding: 20px 20px 0px 20px;
  margin-top: 150px;
  text-align: left;
}
.breadcrumb {
  margin-bottom: 20px;
  text-align: start;
}
.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}
.breadcrumb span {
  color: #6c757d;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;
}

.map {
  flex: 1;
  margin-right: 20px;
  width: 50%;
}
.details {
  flex: 1;
  max-width: 400px;
  color: #000;
  margin-right: 20px;
  /* padding: 30px; */
  background-image: url("../images/element_26.png");
  background-size: cover;
  background-position: right;
  border-radius: 10px;
}
.details-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}
.details p {
  margin: 0 0 0 0;
  font-family: Roboto, "sans-serif";
}
.detail-row {
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 6px 54px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  padding: 30px 30px;
  margin-top: 20px;
}
.detail-row-1-txt {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
.detail-row-1-txt-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 10px;
}
.detail-row-2 {
  margin-left: 10px;
}
.detail-row-2-txt {
  margin-bottom: 0px;
}
.detail-row-2-txt a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}
.contact-content {
  flex: 1;
  max-width: 50%;
}
.contact-content h2 {
  font-family: Source Sans pro, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}
.contact-content p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 30px;
}
.contact-content form {
  display: flex;
  flex-direction: column;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 10px;
  gap: 20px;
}
.input-row input {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #c89c31;
  border-radius: 4px;
}
.input-row input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 100%;
}

.contact-form button {
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin: 0 auto;
  width: 150px;
}
.contact-form button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}

.form-image {
  flex: 1 1;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-width: 40%;
}
.form-image img {
  max-width: 100%;
  height: 400px;
}

/* Help center */

.help-center {
  font-family: Roboto, sans-serif;
  padding-top: 150px;
  margin: 50px auto;
  color: rgb(100, 100, 100);
  text-align: left;
}

.help-center h1 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.help-center nav {
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
}

.help-center nav a {
  text-decoration: none;
  color: #000;
}

.help-center nav span {
  color: #888;
}

.faq-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 30px auto;
  width: fit-content;
}

.faq-item {
  border-bottom: 1px solid #ddd;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  background: #f9f9f9;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.faq-question span {
  margin-right: 10px;
  font-size: 18px;
}

.faq-answer {
  padding: 15px;
  background: #fff;
}
/* RefundPolicy*/
.refund-policy {
  font-family: Roboto, sans-serif;
  padding-top: 150px;
  margin: 20px;
  color: rgb(100, 100, 100);
  text-align: left;
}

.header h1 {
  text-align: left;
  margin-bottom: 10px;
}

.header nav {
  margin: 20px 0px;
  text-align: left;
}

.header nav a {
  text-decoration: none;
  color: #000;
}

.header nav span {
  color: #888;
}

a{
  text-decoration: none;
  color: #222;
}
.content{
  padding-top: 4%;
}
.content h2 {
  font-family: Source Sans Pro, sans-serif;
  font-size: 26px;
  color: #000;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.content h3 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 30px;
}

 .content p {
  margin: 25px;
}
.content ul{
  margin: 15px;
}

.content ul {
  list-style: disc;
  margin-left: 50px;
}
/* privacy policy */

.privacy-policy {
  font-family: Lato, sans-serif;
  padding-top: 150px;
  margin: 20px;
  color: rgb(100, 100, 100);
  text-align: left;
}
.header {
  background-image: url('../images/element_22.png');
  background-size: cover;
  opacity: 0.5;
  background-position: right;
  padding: 50px 20px;
  color: #000;
  background-color: aliceblue;
  border-radius: 10px;
}
.policy-info{
  margin-top: 5%;
}
.policy-info h2{
  font-size: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.policy-info h3{
  font-size: 18px;
  margin-left: 30px;
  margin-top: 20px;
}
.policy-info ul{
  margin-left: 30px;
  margin-top: 10px;
}
.policy-info li{
  margin-left: 40px;
  margin-top: 10px;
}

/* terms and conditions */
.terms-container {
  padding-top: 150px;
  margin: 20px;
  font-family: Source Sans Pro, sans-serif;
  color: rgb(100, 100, 100);
  text-align: left;
}
.term-info {
  margin-top: 5%;
}
.term-info h2{
  font-family: Source Sans Pro, sans-serif;
  font-size: 32px;
  margin-left: 30px;
  margin-top: 20px;
}
.term-info h3{
  margin-top: 50px;
  margin-left: 20px;
}
.term-info p{
  font-family: Lato, sans-serif;
  margin-left: 30px;
  margin-top: 20px;
}
.term-info h4{
  margin-top: 40px;
  margin-left: 20px;
}
.term-info ul li{
  margin-left: 40px;
  margin-top: 10px;
}

/* ProductPage */

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.product {
  display: flex;
  width: 300px;
  margin: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  flex: 1;
  padding: 0 15px;
}

.product-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-details {
  flex: 2;
  padding: 0 15px;
}

.product-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #c89c31;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #c89c31;
}

.shop-container {
  padding-top: 150px;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: Source Sans Pro, sans-serif;
}

.shop-title {
  font-size: 32px;
  margin-bottom: 20px;
  color:rgb(0, 0, 0);
  text-align: left;
}

.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.sorting-select {
  padding: 5px;
}

.shop-content {
  display: flex;
  /* width: 100%; */
}

.shop-sidebar-menu {
  width: 30%;
  height: fit-content;
  margin-bottom: 20px;
  margin-right: 10px;
}

.shop-sidebar {
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2; 
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.shop-sidebar hr {
  margin: 10px 0;
}

.shop-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shop-sidebar ul li {
  cursor: pointer;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.shop-sidebar ul li:last-child {
  border-bottom: none;
}

.shop-sidebar ul li:hover {
  background-color: #ddd;
  color: #c89c31;
}

.price-range {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price-range input[type="range"] {
  margin: 5px 0;
}

.price-range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price-range button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  /* box-shadow: inset 0 0 0 0 #c89c31; */
  transition: ease-out 0.4s;
}

.price-range button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
}

.products-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  position: relative;
  overflow: hidden;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-decoration: none;
  color: #222;
  transition: transform 0.3s ease-in-out;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-card-link{
  text-decoration: none;
  color: #222;
  position: relative;
  display: block;
}
.product-link{
  text-decoration: none;
 
}
.product-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.product-card:hover .product-image {
  transform: scale(1.1);
}

.product-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
}
.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #c39428;
  margin-bottom: 10px;
}
.product-button-main{
  text-decoration: none;
  list-style-type: none;
}

.product-button{
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  margin: 20px 0;
  width: -moz-fit-content;
  border: 0;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  transition: ease-out 0.4s;
}

.product-button:hover {
  box-shadow: inset 400px 0 0 0 #c89c31;
  } 

.add-to-cart-button {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  margin: 20px 0;
  /* width: -moz-fit-content; */
  width: fit-content;
  border: 0;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #c89c31;
  transition: ease-out 0.4s;
  display: flex;
}


.add-to-cart-button:hover {
box-shadow: inset 400px 0 0 0 #c89c31;
}
.product-card-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ccc;
  transition: color 0.3s ease-in-out;
  pointer-events: none;
}

.product-card-heart:hover {
  color: #c89c31;
}

.watchlist-icon {
  cursor: pointer;
  color: #222;
  border: none;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 50%;
}

.watchlist-icon .FaHeart{
  background: #c39428;
}
.watchlist-icon .FaRegHeart{
  background: #f50000;
}

/* .watchlist-icon:hover{
  background-color: #c39428;
  transition: all 0.3s ease-in-out;
} */

/* pagination css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #f0f0f0;
}

.pagination-list {
  display: flex;
  align-items: center;
}

.paginate_button {
  margin: 0 5px;
}

.page-item.active {
  background-color: #c89c31;
  color: white;
}

.page-link {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.ellipsis {
  margin: 0 5px;
  padding: 10px 15px;
}

/* single product */
.single-product{
  padding-top: 150px;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: Source Sans Pro, sans-serif;
}

.single-product-main {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 100px;
  width: 100%;
  margin-top: 50px;
}

.single-product-img{
  width: 50%;
}

.single-product-img img {
  /* width: 100%; */
  max-width: 600px;
  margin-left: 20px;
  border-radius: 40px;
}

.single-product-details{
  text-align: left;
}
.variation-main{
  display: flex;
  color: #000;
  margin-top: 2%;
}
.variation-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
}
.variation-button{
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.variation-button.selected{
  background-color: #c89c31;
  color: #fff;
}
.variation-button span{
  margin-right: 5px;
}
.single-product-title{
  font-size: 32px;
  color: #222;
  font-weight: 700;
  line-height: 40px;
}

.single-product-price{
  font-size: 24px;
  color: #c89c31;
  font-weight: 700;
  margin-top: 15px;
}

.single-product-cat{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: #111111;
  margin-top: 10px;
}

.single-product-cat span{
  color: #646464;
  font-weight: 400;
}

.single-product-pcs{
  font-size: 16px;
  font-weight: 500;
  color: #646464;
  margin-top: 10px;
}

.other-detail-main{
  margin-top: 0px;
}

.ind-btn {
  padding: 8px 15px;
  border-radius: 100%;
  font-size: 20px;
  border: none;
  background-color: #bf8e22;
}

.ind-btn:hover{
  background-color: #d69b1a;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.quantity-controls {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.quantity{
  font-size: 20px;
  color: #222;
  font-weight: 500;
}


.btn-icon-main{
  display: flex;
  align-items: center;
  gap: 30px;
}

.like-icon {
  background-color: #222;
  padding: 10px 10px;
  border-radius: 100%;
  display: grid;
  color: #ecf3f7;
  cursor: pointer;
}

.like-icon:hover{
  background-color: #c39428;
  transition: all 0.3s ease-in-out;
}

.des-main{
  text-align: left;
  margin-left: 30px;
  margin-bottom: 10px;
}

.des-title{
  display: block;
  font-size: 24px;
  color: #222;
  font-weight: 500;
  border-bottom: 2px solid #c89c31;
  width: fit-content;
  padding: 10px 0px;
}

.single-product-des{
  font-size: 16px;
  color: #111111;
  margin-top: 20px;
  font-weight: 300;
}

/* Watchlist css */
.watchlist-page {
  padding: 20px;
  padding-top: 150px;
}

.wishlist-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.watchlist-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.watchlist-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.watchlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
}

.watchlist-item-image {
  width: 100px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.watchlist-item-details {
  flex-grow: 1;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.watchlist-item-info{
  display: flex;
  align-items: center;
  gap:20px
}

.watchlist-item-link {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  text-decoration: none;
}

.watchlist-item-price {
  font-size: 18px;
  color: #c39428;
  padding: auto;
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.watchlist-add-to-cart {
  cursor: pointer;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.watchlist-item-remove {
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 10px 10px;
  background: #c39428;
  border-radius: 50%;
}


.watchlist-add-to-cart:hover {
  background: #c39428;
  transition: all 0.3s ease-in-out;
}
.watchlist-item-remove:hover{
  background: #333;
  transition: all 0.3s ease-in-out;
}



/* Cart page */
.cart-page {
  padding-top: 150px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.cart-content {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  flex: 3;
  margin-right: 20px;
  color: #222;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 20px;
}

.cart-item-details {
  flex: 2;
  margin-right: 10px;
  color: #222;
  text-align: left;
}
.cart-item-link{
  color: #222;
  text-decoration: none;
}
.cart-item-details h3{
  margin: 0;
  font-size: 18px;
}

.cart-item-details p {
  margin: 5px 0;
  color: #666;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.cart-item-quantity button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item-quantity span {
  margin: 0 10px;
}
.cart-price{
  display: flex;
}

.cart-item-price, .cart-item-total {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.cart-item-remove {
  background: none;
  border: none;
  color: #c39428;
  cursor: pointer;
  font-size: 20px;
}

.cart-summary {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #222;
  margin-top: 30px;
  height: fit-content;
  position: sticky;
  top: 93px;
}
.clear-cart {
  display: block;
  padding: 10px;
  background-color: #080808;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.clear-cart:hover {
  background-color: #c39428;
  transition: all 0.3s ease-in-out;
}
.cart-summary h2 {
  margin-top: 0;
}

.cart-summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-button {
  width: 100%;
  padding: 10px;
  background-color: #c39428;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}
.checkout-button:hover{
  background-color: #080808;
  transition: all 0.3s ease-in-out;
}

.cart-payment-methods {
  text-align: center;
}

.cart-payment-methods p {
  margin-bottom: 10px;
}
.payment-logos {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.payment-logos img {
  width: 50px;
  height: 50px;
}

/* check out page */
.checkout-page {
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.checkout-content {
  display: flex;
  justify-content: space-between;
  color: #333;
}

.contact-details, .order-summary {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
}

.order-summary p{
  text-align: right;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

input {
  padding: 8px;
  font-size: 1rem;
  margin-top: 5px;
}

.coupon {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.coupon input {
  padding: 8px;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.payment-methods {
  margin-top: 20px;
}

.payment-logos img {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}

.payment-logos img.selected {
  border: 2px solid #4caf50;
}

.checkout-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}
.ap-btn {
  width: 50%;
  padding: 10px;
  background-color: #c39428;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  margin: auto;
}
.ap-btn:hover{
  background-color: #080808;
  transition: all 0.3s ease-in-out;
}
